# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Python egg files
*.egg
*.egg-info/
dist/
build/
.eggs/

# CSV and data files
*.csv

# Logs
*.log

# Other
*.swp
*.bak
*.tmp
